<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>rabbitmq.host</param-name>
        <param-value>zotac.toaster.dbyz.co.uk</param-value>
    </context-param>
    <context-param>
        <param-name>rabbitmq.port</param-name>
        <param-value>5672</param-value>
    </context-param>
    <context-param>
        <param-name>rabbitmq.user</param-name>
        <param-value>trianacloud</param-value>
    </context-param>
    <context-param>
        <param-name>rabbitmq.pass</param-name>
        <param-value>trianacloud</param-value>
    </context-param>
    <context-param>
        <param-name>rabbitmq.vhost</param-name>
        <param-value>trianacloud</param-value>
    </context-param>
    <context-param>
        <param-name>rabbitmq.rpc_queue_name</param-name>
        <param-value>trianaloud_rpc_queue</param-value>
    </context-param>
    <listener>
        <listener-class>org.trianacode.TrianaCloud.Broker.BrokerServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Broker</servlet-name>
        <servlet-class>org.trianacode.TrianaCloud.Broker.Broker</servlet-class>
        <init-param>
            <param-name>rabbitmq.queue</param-name>
            <param-value>task_dispatch</param-value>
        </init-param>
        <init-param>
            <param-name>rabbitmq.exchange</param-name>
            <param-value>tc_exchange</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Results</servlet-name>
        <servlet-class>org.trianacode.TrianaCloud.Broker.Results</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Results</servlet-name>
        <url-pattern>/results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Broker</servlet-name>
        <url-pattern>/broker</url-pattern>
    </servlet-mapping>
</web-app>
